<p>Welcome to my page! </br> I'm {{Name}}. I am currently attending a Master Degree in Computer Science and Engineering at Politecnico di Milano <img src="https://upload.wikimedia.org/wikipedia/it/b/be/Logo_Politecnico_Milano.png" width="13"/>
Here are my personal projects.
I hope you'll find them useful.
{{date}}.
